@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  font-family: Open 'Open Sans' sans-serif;
}

#bc2{
   display: none;
}

.search-icon i{
   position: absolute;
   float: left;
   right: 5%;
   width: 60px;
   height: 60px;
   line-height: 60px;
   color: #ffff;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
}

.search-icon i:hover{
  background-color: #0a0a0a71;
}

.search-box{
  position: absolute;
  float: left;
  background-color: #1e232b;
  right: 5%;
  top: -60px;
  width: 300px;
  height: 58px;
  padding: 10px;
  border-radius: 4px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15),0 2px 10px 0 rgba(0,0,0,0.17);
  transition: all .17s ease;
}

.search-box {
  position: absolute;
  top: 70px;
  width: 320px;
  max-width: 100%;
  height: 60px;
  z-index: 25;
  background-color: #1e232b;
  box-sizing: border-box;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15),0 2px 10px 0 rgba(0,0,0,0.17);
  transition: all .17s ease;
}

.search-box::before{
 content: '';
 position: absolute;
 top: 0;
 right: 20px;
 width: 0;
 height: 0;
 border: 10px solid transparent;
 border-bottom-color: #1e232b;
 margin: -20px 0 0;
}

form{
  width: 100%;
  height: 38px;
  right: 0;
  background-color: #9b9b9b08;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid #9b9b9b33;
  border-radius: 4px;
}

.search{
  width: 95%;
  background-color: #00000000;
  color: #ffff;
  padding: 0 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.sub{
  font-size: 14px;
  padding: 0 13px;
  border: 0;
  background-color: #8b0e12;
  color: #ffff;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.1);
  background-color: #8b0e12;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  padding: 0 12px;
  margin: 0;
  border: 0;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 1px;
  border-bottom-width: 2px;
  border-radius: 2px;
}

.sub:hover{
  background-color: #8a010194;
}

#bc2:checked ~ .search-box{
  top: 70px;
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0);
  transform: translate(0);
}


